<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
 
        <!--<add name="DataAccessLayer.Properties.Settings.PHASCO_BIZConnectionString1"
            connectionString="Data Source=PERISAN-SERVER\SQL2005A;Initial Catalog=PHASCO_BIZ;User ID=rad;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->


      <add name="DataAccessLayer.Properties.Settings.PHASCO_BIZConnectionString" connectionString="Data Source=204.93.193.254;Initial Catalog=phasco.com_main;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
      <add name="DataAccessLayer.Properties.Settings.Phasco_NetConnectionString" connectionString="Data Source=204.93.193.254;Initial Catalog=phasco.com_main;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />



    </connectionStrings>
  <startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
