~~ FCKeditor - The text editor for Internet - http://www.fckeditor.net
~~ Copyright (C) 2004-2010 Frederico Caldeira Knabben
~~
~~ == BEGIN LICENSE ==
~~
~~ Licensed under the terms of any of the following licenses at your
~~ choice:
~~
~~  - GNU General Public License Version 2 or later (the "GPL")
~~    http://www.gnu.org/licenses/gpl.html
~~
~~  - GNU Lesser General Public License Version 2.1 or later (the "LGPL")
~~    http://www.gnu.org/licenses/lgpl.html
~~
~~  - Mozilla Public License Version 1.1 or later (the "MPL")
~~    http://www.mozilla.org/MPL/MPL-1.1.html
~~
~~ == END LICENSE ==
~~ @version $Id: installation.apt.vm 4785 2009-12-21 20:10:28Z mosipov $
                        ------------------------------
                                Installation
						------------------------------

Installation Guide

  After downloading an appropriate distribution, you need to install it into
  your webapp. Read the applying topics in this guide from top to bottom.

* Integration pack installation

  Installing the integration pack, its dependencies, and a preferred SLF4J binding.

** Using Maven 2

   If you have already declared the dependency reference as described in the
   {{{download.html}Download Guide}}, Maven has already installed everything for
   you. You just need to declare the chosen SFL4J binding and corresponding backend
   (may be optional) in the dependencies section of your POM within the <runtime> scope.

** Manual installation

   Simply put the downloaded core jar, its dependencies and your favorite SFL4J
   binding together with the corresponding backend (may be optional) in your
   classpath (usually <<<WEB-INF/lib>>>) and you are ready to go.

* FCKeditor installation

  Although the public distribution is fine, it still contains a lot of superfluous
  files for a Java environment. Use the following <<<Ant>>> target on the FCKeditor
  ${FCKeditorVersion} zip file (1,34 MiB) to create a cleaner and smaller distribution
  zip file (1,03 MiB). After the reduction you can unzip the smaller distribution
  zip file into your webapp.

+------------------------------------------------------------------------------+
<target name="stripped-fckeditor-dist" description="Creates a stripped FCKeditor distribution">
  <!-- Adapt these properties to your needs -->
  <property name="fckeditor-tmp" location="fckeditor-tmp" />
  <property name="fckeditor-basename" value="FCKeditor_${FCKeditorVersion}" />
  <property name="fckeditor-destfile" value="${fckeditor-basename}_clean.zip" />

  <delete file="${fckeditor-destfile}" />
  <unzip dest="${fckeditor-tmp}" src="${fckeditor-basename}.zip" />
  <zip destfile="${fckeditor-destfile}">
    <zipfileset dir="${fckeditor-tmp}/fckeditor" prefix="fckeditor">
      <include name="_samples/_plugins/" />
      <include name="editor/" />
      <include name="fckconfig.js" />
      <include name="*.xml" />
      <exclude name="editor/filemanager/connectors/" />
    </zipfileset>
  </zip>
  <delete dir="${fckeditor-tmp}" />
</target>
+------------------------------------------------------------------------------+