
/************** Skin 2 *********************/
.dd2
{
    /*display:inline-block !important;*/
    text-align: right;
    background-color: #fff;
    font-family: tahoma,Arial, Helvetica, sans-serif;
    font-size: 11px;
    float: right;
}
.dd2 .ddTitle
{
    background: transparent url(images/msDropDown.gif) no-repeat;
    padding: 0 3px;
    text-indent: 0;
    cursor: default;
    overflow: hidden;
    height: 22px;
}
.dd2 .ddTitle span.arrow
{
    background: transparent url(images/icon-arrow.gif) no-repeat 0 0;
    float: left;
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    top: 2px;
    position: relative;
    left: 1px;
}

.dd2 .ddTitle span.ddTitleText
{
    text-indent: 1px;
    overflow: hidden;
    line-height: 18px;
    font-family: tahoma,Georgia, "Times New Roman" , Times, serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    _position: relative;
    _top: 4px;
}
.dd2 .ddTitle span.ddTitleText img
{
    text-align: right;
    padding: 0 2px 0 0;
}
.dd2 .ddTitle img.selected
{
    padding: 0 2px 0 0;
    vertical-align: top;
}
.dd2 .ddChild
{
    position: absolute;
    border: 1px solid #c3c3c3;
    border-top: none;
    display: none;
    margin: 0;
    width: auto;
    overflow: auto;
    overflow-x: hidden !important;
    background-color: #ffffff;
    font-size: 14px;
}
.dd2 .ddChild .opta a, .dd2 .ddChild .opta a:visited
{
    padding-right: 10px;
}
.dd2 .ddChild a
{
    display: block;
    padding: 3px 0 3px 3px;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.dd2 .ddChild a:hover
{
    background-color: #66CCFF;
}
.dd2 .ddChild a img
{
    border: 0;
    padding: 0 2px 0 0;
    vertical-align: middle;
}
.dd2 .ddChild a.selected
{
    background-color: #66CCFF;
}

.dd2 .borderTop
{
    border-top: 1px solid #c3c3c3 !important;
}
.dd2 .noBorderTop
{
    border-top: none 0 !important;
}
