<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"></sectionGroup>
    </sectionGroup>
  </configSections>
  <!--<connectionStrings>
    <add name="phasco.Properties.Settings.Phasco_com_Bazar"
    connectionString="Data Source=AGHAZADEH-PC\SQL2008_R2_A;Initial Catalog=Phasco_Bazar;Integrated Security=True"    providerName="System.Data.SqlClient" />
    <add name="phasco.Properties.Settings.Phasco_NetConnectionString"
      connectionString="Data Source=REFAH-TD-13\SQL2008R2_A;Initial Catalog=Phasco_main;Integrated Security=True"       providerName="System.Data.SqlClient" />
    <add name="phasco.Properties.Settings.GrandResConnectionString"
      connectionString="Data Source=REFAH-TD-13\SQL2008R2_A;Initial Catalog=Phasco_main;Integrated Security=True"       providerName="System.Data.SqlClient" />
    <add name="phasco.Properties.Settings.ArticleConnectionString"
      connectionString="Data Source=REFAH-TD-13\SQL2008R2_A;Initial Catalog=Phasco_main;Integrated Security=True"       providerName="System.Data.SqlClient" />
    <add name="phasco_webproject.Properties.Settings.Directory_phascoConnectionString"
      connectionString="Data Source=AGHAZADEH-PC\SQL2008_R2_A;Initial Catalog=Directory_phasco;Integrated Security=True"       providerName="System.Data.SqlClient" />
    <add name="phasco_webproject.Properties.Settings.Phasco_NetConnectionString"
      connectionString="Data Source=REFAH-TD-13\SQL2008R2_A;Initial Catalog=Phasco_main;Integrated Security=True"       providerName="System.Data.SqlClient" />
    <add name="phasco_webproject.Properties.Settings.Article_phascoConnectionString"
      connectionString="Data Source=AGHAZADEH-PC\SQL2008_R2_A;Initial Catalog=Article_phasco;Integrated Security=True"       providerName="System.Data.SqlClient" />
    <add name="Phasco_NetConnectionString1" connectionString="Data Source=REFAH-TD-13\SQL2008R2_A;Initial Catalog=Phasco_main;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Phasco_ArticleConString_RAD" connectionString="server=204.93.193.254;database=phasco.com_Article;uid=phasco.com_Article;password=11004455;"
      providerName="System.Data.SqlClient" />
    <add name="PHASCO_WEB.Properties.Settings.Directory_phascoConnectionString"
      connectionString="Data Source=AGHAZADEH-PC\SQL2008_R2_A;Initial Catalog=Directory_phasco;Integrated Security=True"       providerName="System.Data.SqlClient" />
    <add name="PHASCO_WEB.Properties.Settings.Phasco_NetConnectionString"
      connectionString="Data Source=REFAH-TD-13\SQL2008R2_A;Initial Catalog=Phasco_main;Integrated Security=True"      providerName="System.Data.SqlClient" />
    <add name="PHASCO_WEB.Properties.Settings.Article_phascoConnectionString"
      connectionString="Data Source=AGHAZADEH-PC\SQL2008_R2_A;Initial Catalog=Article_phasco;Integrated Security=True"      providerName="System.Data.SqlClient" />
    <add name="PHASCO_WEB.Properties.Settings.Phasco_NetConnectionString1"
      connectionString="Data Source=REFAH-TD-13\SQL2008R2_A;Initial Catalog=Phasco_main;Integrated Security=True"      providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.PHASCO_BIZConnectionString1"
      connectionString="Data Source=REFAH-TD-13\SQL2008R2_A;Initial Catalog=Phasco_main;Integrated Security=True"      providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.PHASCO_BIZConnectionString"
      connectionString="Data Source=REFAH-TD-13\SQL2008R2_A;Initial Catalog=Phasco_main;Integrated Security=True"      providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.Phasco_NetConnectionString"
      connectionString="Data Source=REFAH-TD-13\SQL2008R2_A;Initial Catalog=Phasco_main;Integrated Security=True"      providerName="System.Data.SqlClient" />
    <add name="Phasco_BiztBiz" connectionString="Data Source=AGHAZADEH-PC\SQL2008_R2_A;Initial Catalog=Phasco_Bazar;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PHASCO_QuizConnectionString" connectionString="Data Source=AGHAZADEH-PC\SQL2008_R2_A;Initial Catalog=PHASCO_Quiz;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <!--Data Source=91.98.96.184:2853;Initial Catalog=phasco.com_main;User ID=phasco.com_main    phasco.com_ArticleUser-->
    <add name="phasco.Properties.Settings.Phasco_com_Bazar" connectionString="Data Source=185.211.56.52;Initial Catalog=Phasco.com_Bazar;Persist Security Info=true;User ID=phasco.com_main;Password=ph1988519;" providerName="System.Data.SqlClient" />
    <add name="phasco.Properties.Settings.Phasco_NetConnectionString" connectionString="Data Source=185.211.56.52;Initial Catalog=phasco.com_main;Persist Security Info=True;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
    <add name="phasco.Properties.Settings.GrandResConnectionString" connectionString="Data Source=185.211.56.52;Initial Catalog=phasco.com_main;Persist Security Info=True;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
    <add name="phasco.Properties.Settings.ArticleConnectionString" connectionString="Data Source=185.211.56.52;Initial Catalog=phasco.com_main;Persist Security Info=True;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
    <add name="phasco_webproject.Properties.Settings.Directory_phascoConnectionString" connectionString="Data Source=185.211.56.52;Initial Catalog=phasco_Directory;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
    <add name="phasco_webproject.Properties.Settings.Phasco_NetConnectionString" connectionString="Data Source=185.211.56.52;Initial Catalog=phasco.com_main;Persist Security Info=True;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
    <add name="phasco_webproject.Properties.Settings.Article_phascoConnectionString" connectionString="Data Source=185.211.56.52;database=phasco.com_Article;uid=phasco.com_main;password=11004455;" providerName="System.Data.SqlClient" />
    <add name="Phasco_NetConnectionString1" connectionString="Data Source=185.211.56.52;Initial Catalog=phasco.com_main;Persist Security Info=True;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
    <add name="Phasco_ArticleConString_RAD" connectionString="server=.;database=phasco.com_Article;uid=phasco.com_main;password=11004455;" providerName="System.Data.SqlClient" />
    <add name="PHASCO_WEB.Properties.Settings.Directory_phascoConnectionString" connectionString="Data Source=185.211.56.52;Initial Catalog=phasco_Directory;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
    <add name="PHASCO_WEB.Properties.Settings.Phasco_NetConnectionString" connectionString="Data Source=185.211.56.52;Initial Catalog=phasco.com_main;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
    <add name="PHASCO_WEB.Properties.Settings.Article_phascoConnectionString" connectionString="Data Source=185.211.56.52;database=phasco.com_Article;User ID=phasco.com_main;password=11004455" providerName="System.Data.SqlClient" />
    <add name="PHASCO_WEB.Properties.Settings.Phasco_NetConnectionString1" connectionString="Data Source=185.211.56.52;Initial Catalog=phasco.com_main;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.PHASCO_BIZConnectionString1" connectionString="Data Source=185.211.56.52;Initial Catalog=phasco.com_main;Persist Security Info=True;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.PHASCO_BIZConnectionString" connectionString="Data Source=185.211.56.52;Initial Catalog=phasco.com_main;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.Phasco_NetConnectionString" connectionString="Data Source=185.211.56.52;Initial Catalog=phasco.com_main;User ID=phasco.com_main;Password=11004455" providerName="System.Data.SqlClient" />
    <add name="ArticleEntities" connectionString="metadata=res://*/DAL.DS_ArticlePhasco.csdl|res://*/DAL.DS_ArticlePhasco.ssdl|res://*/DAL.DS_ArticlePhasco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=185.211.56.52;initial catalog=phasco.com_Article;user id=phasco.com_main;password=11004455;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ArticlesEntities" connectionString="metadata=res://*/DAL.DS_ArticlePhasco.csdl|res://*/DAL.DS_ArticlePhasco.ssdl|res://*/DAL.DS_ArticlePhasco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=185.211.56.52;initial catalog=phasco.com_Article;user id=phasco.com_main;password=11004455;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PhascoEntities" connectionString="metadata=res://*/DAL.Main.csdl|res://*/DAL.Main.ssdl|res://*/DAL.Main.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=185.211.56.52;initial catalog=phasco.com_main;user id=phasco.com_main;password=11004455;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SecurityKey" value="8dee9abbc8d3ca0d3a9577656dff4941" />
    <add key="formShield_SecretKey" value="!--FormShield--!" />
    <add key="Connection1" value="Data Source=REFAH-TD-13\SQL2008R2_A;Initial Catalog=Advertisment;Integrated Security=True" />
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="2097151" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />
    <!--<sessionState mode="SQLServer"  cookieless="false" allowCustomSqlDatabase="true" sqlConnectionString="data source=AGHAZADEH-PC\SQL2008_R2_A; Initial Catalog=phasco_SessionState; Integrated Security=SSPI;"/>-->
    <siteMap enabled="true" defaultProvider="MyCustomSiteMap">
      <providers>
        <clear />
        <add name="MyCustomSiteMap" type="CustomSiteMap.MyCustomSiteMap" />
      </providers>
    </siteMap>
    <customErrors mode="Off" />
    <compilation debug="true" batch="false">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add assembly="JQControls" namespace="JQControls" tagPrefix="jq" />
        <add assembly="ASPnetPagerV2_8" namespace="ASPnetControls" tagPrefix="Pager" />
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>